[submodule "tools/TinderBox-Mac"]
	path = tools/TinderBox-Mac
	url = git://github.com/cinder/TinderBox-Mac.git
[submodule "tools/TinderBox-Win"]
	path = tools/TinderBox-Win
	url = git://github.com/cinder/TinderBox-Win.git
[submodule "include/boost"]
	path = include/boost
	url = git://github.com/cinder/Cinder-Boost.git
	branch = boost_1_58
[submodule "blocks/Cinder-NDI"]
	path = blocks/Cinder-NDI
	url = https://github.com/num3ric/Cinder-NDI.git
[submodule "blocks/Cinder-OpenCV3"]
	path = blocks/Cinder-OpenCV3
	url = https://github.com/num3ric/Cinder-OpenCV3.git
[submodule "blocks/Cinder-Sdi"]
	path = blocks/Cinder-Sdi
	url = https://github.com/num3ric/Cinder-Sdi.git
[submodule "blocks/Cinder-Profiler"]
	path = blocks/Cinder-Profiler
	url = https://github.com/num3ric/Cinder-Profiler.git
[submodule "blocks/Cinder-WMFVideo"]
	path = blocks/Cinder-WMFVideo
	url = https://github.com/Potion/Cinder-WMFVideo.git
[submodule "blocks/Cinder-Var"]
	path = blocks/Cinder-Var
	url = https://github.com/num3ric/Cinder-Var.git
